<div class="toolbar">
    <div class="toolbar__left">
        <fa-icon
            class="toolbar__search-icon"
            [icon]="faSearch"
            size="lg"
        ></fa-icon>
    </div>

    <div class="toolbar__center">
        <input
            class="toolbar__input"
            type="text"
            name="search"
            id="search"
            spellcheck="false"
        />
    </div>

    <div class="toolbar__right">
        <fa-icon class="toolbar__plus-icon" [icon]="faPlus" size="lg"></fa-icon>
    </div>
</div>
